doctype html
html
  head
    title= Polls admin
    link(rel='stylesheet', href='/stylesheets/AdminLTE.min.css')
    link(rel='stylesheet', href='/stylesheets/AdminLTE.min.css')
    link(rel='stylesheet', href='/stylesheets/skins/_all-skins.css')
    link(rel='stylesheet', href='/stylesheets/style.css')
  body
    block content
    script(type='text/javascript' src='jquery.min.js')
    script(type='text/javascript' src='bootstrap.min.js')
    script(type='text/javascript' src='app.min.js')
    script(type='text/javascript' src='bundle.js')
